body{
    margin: 0;
    background-image: url(Gunung.jpg);
    background-size: 100% 700px;
    background-repeat: no-repeat;
    background-color: #efefef;
    overflow: hidden;
}

.perKotakan{
    padding-top: 180px;
    padding-bottom: 180px;
    padding-left: 24%;
    padding-right: 24%;
}

.kotakAtas{
    width: 1000px;
    height: 480px;
    display: inline-flex;
    position: static;
    /* margin-left: auto;
    margin-right: auto; */
    background-color: white;
    /* border: 2px solid red; */
}

.kotakBawah{
    width: 1000px;
    height: 110px;
    position: static;
    background-color: #88C4DD;
    text-align: center;
}

ul{
    padding-right: auto;
    padding-left: auto;
    list-style: none;
    margin: 0;
    padding: 20px;
}

li{
    display: inline;
}

li a{
    padding: 5%;
    text-align: center;
    font-size: 60px;
    color: white;
}

.left{
    width: 40%;
    padding-top: 70px;
}

.right{
    width: 60%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 4%;
}

.Foto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.tulisanPertama{
    font-family: 'Anonymous Pro', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    margin-bottom: 0%;
    margin-top: 30px;
}

.tulisanKedua{
    font-family: 'Anonymous Pro', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 0%;
    margin-top: -10px; 
    text-align: justify;
    text-justify: inter-word; 
}

.tulisanKetiga{
    font-family: 'Anonymous Pro', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 0%;
    margin-top: 0px; 
    text-align: justify;
    text-justify: inter-word; 
}

.garis{
    width: 70%;
    float: left;
    opacity: 0.7;
}

.link{
    color: black;
    text-decoration: none;
}